@import 'main';

:host {
  display: flex;

  --welcome: $black;
  --welcome-large: $hot-pink;
  --main: $yellow;

  color: var(--main, $black);

  .welcome {
    color: var(--welcome);

    @media #{$breakpoint-large} {
      color: var(--welcome-large);
    }
  }
}
